<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create GIF Screencast</title>
    </head>
    <body>
        <form action="/create" method="POST">
            <input type="text" placeholder="Full URL" name="url">
            <input type="text" placeholder="GIF Name" name="name">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
