<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Creating GIF</title>
    </head>
    <body>
        <% gifs.forEach(function(el) { %>
        <p><a href="<%= el %>"><%= el %></a></p>
        <% }); %>

    </body>
</html>

