<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Available GIFs</title>
    </head>
    <body>
        <p><%- gifs %></a></p>
	<form action="/" method="POST">
            <button type="submit">Generate new</button>
        </form>
    </body>
</html>

